<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Vue.JS</title>
</head>
<body>
    <div id="vueApp">
        <!-- <input type="text" v-model="subject"> -->
        <h3>Learn {{ subject }}</h3>
        <!-- <ol v-if="status"> -->
        <ol v-show="status">
            <li v-for="item in subjects" :key="item.title">
                {{ item.title }} &mdash; {{ item.type }} Type
            </li>
        </ol>

        <!-- <p v-else>
            No subjects yet
        </p> -->
        <!-- <p>Number: {{ number }}</p> -->
        <!-- <button v-on:click="makeItFun">Make it Fun</button> -->
        <!-- <button @click="makeItFun">Make it Fun</button> -->
        <!-- <button v-on:click="check">Check</button> -->
        <!-- <p>Score: {{ score }}</p> -->
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue

        const sample = {
            methods: {
                makeItFun() {
                    this.subject = `${this.subject} !!!!!`
                },
                check() {
                    if(this.subject === 'VueJS'){
                        this.score = 100
                    }else{
                        this.score = -50                 
                    }
                }
            },
            data() {
                return {
                    subject: 'Vue.JS',
                    subjects: [
                        { title: 'JavaScript', type: 'Native' },
                        { title: 'Vue', type: 'Framework' },
                        { title: 'React', type: 'Framework' },
                    ],
                    status: false,
                    // score: 0,
                    // number: 0
                }
            },
            mounted() {
                // setInterval(() => {
                //     this.number++
                // }, 500)
            }
        }

        createApp(sample)
            .mount('#vueApp')
    </script>
</body>
</html>